openapi: 3.2.0
info:
  title: Measurabl Buildings API
  version: v0
  description: 'Operations tagged Buildings across 3 of this provider''s published API definitions: measurabl-core-openapi.yml, measurabl-esgx-buildings-openapi.yml, measurabl-partners-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.measurabl.com/core/v0
  description: Base URL declared by the provider in apis.yml (roadmap#122).
- url: https://api.measurabl.com/insights/v0
  description: Base URL declared by the provider in apis.yml (roadmap#122).
- url: https://api.measurabl.com/partners/v0
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Buildings
paths:
  /core/v0/portfolios/{portfolio_id}/buildings:
    post:
      summary: Adds a building to a specified portfolio
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        description: 'Example: <em>bb97d075-a826-4001-b4bb-2dbab87e2b72</em>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creates a portfolio specific building
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 99b0e527-a662-4121-b2bf-dc59f2ad9a28
                  type: buildings
                  attributes:
                    estarId: null
                    name: Test Building
                    addressLine1: 900 Spear Avenue
                    addressLine2: ''
                    addressCity: San Francisco
                    addressState: CA
                    addressProvince: null
                    addressZip: '94105'
                    addressCountry: United States
                    yearBuilt: null
                    buildingClass: C
                    primaryPropertyType: Data Center
                    floorAreaSqFt: 20000
                    customId: null
                    boughtDate: '2026-01-16'
                    soldDate: null
                    isSingleTenant: false
                    percentOwned: 80.0
                    isActive: false
                    updatedAt: '2026-04-01 00:00:00'
                links:
                  self: /portfolios/74468b82-3bb8-4f8e-a4a8-8dd69efeb4cc/buildings/99b0e527-a662-4121-b2bf-dc59f2ad9a28
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: Could not find building 0a86c55e-18eb-4ba0-80fe-3fa949e22303 in portfolio 818c909b-f251-4666-a428-28c7b865cba3
              schema:
                $ref: '#/components/schemas/json_api'
        '401':
          description: Unauthorized Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '401'
                  title: Unauthorized
                  detail: Unauthorized Request
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: An invalid UUID parameter was submitted with the request (portfolio_id)
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '500':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: An error occurred with the request
              schema:
                $ref: '#/components/schemas/json_api'
        '503':
          description: Service Unavailable
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '503'
                  title: Service Unavailable
                  detail: A Measurabl Server is currently unavailable, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '408'
                  title: Request Timeout
                  detail: The request you made has timed out
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too many requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                        addressLine1:
                          type: string
                        addressLine2:
                          type: string
                        addressCity:
                          type: string
                        addressState:
                          type: string
                        addressProvince:
                          type: string
                        addressZip:
                          type: string
                        addressCountry:
                          type: string
                        yearBuilt:
                          type: integer
                        buildingClass:
                          type: string
                        primaryPropertyType:
                          type: string
                        floorAreaSqFt:
                          type: integer
                        customId:
                          type: string
                        boughtDate:
                          type: string
                        soldDate:
                          type: string
                        isSingleTenant:
                          type: boolean
                        percentOwned:
                          type: float
                        isActive:
                          type: boolean
                      required:
                      - name
                      - addressLine1
                      - addressCity
                      - addressState
                      - addressZip
                      - addressCountry
                      - primaryPropertyType
                      - floorAreaSqFt
              example:
                data:
                  type: buildings
                  attributes:
                    name: API Test Building
                    addressLine1: 900 Spear Avenue
                    addressLine2: ''
                    addressCity: San Francisco
                    addressState: CA
                    addressProvince: null
                    addressZip: '94105'
                    addressCountry: United States
                    yearBuilt: 1980
                    buildingClass: C
                    primaryPropertyType: Data Center
                    floorAreaSqFt: 20000.0
                    customId: null
                    boughtDate: '2026-03-29'
                    soldDate: null
                    isSingleTenant: false
                    percentOwned: 80.0
                    isActive: false
        required: true
        description: Request body used to create a building associated with a portfolio
    get:
      summary: Returns a paginated list of buildings for a specified portfolio or fund
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        description: "UUID of either the parent portfolio or fund<br>\n                              Example: <em>73755608-a99d-40d9-94df-09d8ff67e7cd</em>"
        required: true
      - name: filter
        in: query
        description: "Filter by any attribute available via the endpoint.\n                  <ul>\n                    <li>updatedAt=ge=2022-11-01T00:00 will query for buildings that were updated at or after the set date and UTC time.</li>\n                    <li>yearbuilt==1969 will query for buildings that have a year built specifically in 1969.</li>\n                  </ul>"
        schema:
          type: string
      - name: page
        in: query
        default: 1
        schema:
          type: integer
      - name: size
        in: query
        description: The max page size is limited to 200 returned results
        default: 25
        schema:
          type: integer
      responses:
        '200':
          description: portfolio or fund with buildings found
          content:
            application/vnd.api+json:
              example:
                data:
                - id: 4008cd95-4aeb-4019-b387-c0a7377fa58e
                  type: buildings
                  attributes:
                    estarId: 34137899
                    name: Bug Test
                    addressLine1: 123 Bug St
                    addressLine2: ''
                    addressCity: San Diego
                    addressState: CA
                    addressProvince: null
                    addressZip: '92104'
                    addressCountry: United States
                    yearBuilt: 1969
                    buildingClass: null
                    primaryPropertyType: Movie Theater
                    floorAreaSqFt: 25000
                    customId: null
                    boughtDate: '2025-09-01'
                    soldDate: null
                    isSingleTenant: true
                    percentOwned: 100.0
                    isActive: true
                    updatedAt: '2026-05-16 00:00:00'
                  links:
                    self: /portfolios/8472cd20-dfca-498e-8d1e-95efc92f56c9/buildings/4008cd95-4aeb-4019-b387-c0a7377fa58e
                - id: 4f05c66f-ab07-455d-8c06-91b099b6e486
                  type: buildings
                  attributes:
                    estarId: 33212337
                    name: Parent Building 3
                    addressLine1: 1007 1st St St
                    addressLine2: ''
                    addressCity: Stilwater
                    addressState: MN
                    addressProvince: null
                    addressZip: '55082'
                    addressCountry: United States
                    yearBuilt: 1869
                    buildingClass: null
                    primaryPropertyType: Financial Office
                    floorAreaSqFt: 750
                    customId: null
                    boughtDate: '2026-07-02'
                    soldDate: null
                    isSingleTenant: false
                    percentOwned: 50.0
                    isActive: true
                    updatedAt: '2026-01-16 00:00:00'
                  links:
                    self: /portfolios/8472cd20-dfca-498e-8d1e-95efc92f56c9/buildings/4f05c66f-ab07-455d-8c06-91b099b6e486
                - id: 7813777b-addb-449d-8117-1ed2c8578a72
                  type: buildings
                  attributes:
                    estarId: 25849582
                    name: Meter Test 1zzz
                    addressLine1: 111 Meter St
                    addressLine2: ''
                    addressCity: San Diego
                    addressState: CA
                    addressProvince: null
                    addressZip: '92111'
                    addressCountry: United States
                    yearBuilt: 1969
                    buildingClass: null
                    primaryPropertyType: Office
                    floorAreaSqFt: 0
                    customId: null
                    boughtDate: '2026-02-23'
                    soldDate: null
                    isSingleTenant: true
                    percentOwned: 100.0
                    isActive: false
                    updatedAt: '2026-07-11 00:00:00'
                  links:
                    self: /portfolios/8472cd20-dfca-498e-8d1e-95efc92f56c9/buildings/7813777b-addb-449d-8117-1ed2c8578a72
                - id: c150197f-2890-4b64-9020-c75be80b4f92
                  type: buildings
                  attributes:
                    estarId: 37741951
                    name: A Cool Building
                    addressLine1: 123 Meter Blvd
                    addressLine2: ''
                    addressCity: San Diego
                    addressState: ''
                    addressProvince: Uhh
                    addressZip: '92120'
                    addressCountry: Japan
                    yearBuilt: 1969
                    buildingClass: null
                    primaryPropertyType: Senior Care Community
                    floorAreaSqFt: 16531
                    customId: null
                    boughtDate: '2025-07-16'
                    soldDate: null
                    isSingleTenant: false
                    percentOwned: 70.5
                    isActive: true
                    updatedAt: '2026-01-20 00:00:00'
                  links:
                    self: /portfolios/8472cd20-dfca-498e-8d1e-95efc92f56c9/buildings/c150197f-2890-4b64-9020-c75be80b4f92
                - id: 0f560852-e88d-4ecf-87c2-cf8c9e13c8d5
                  type: buildings
                  attributes:
                    estarId: 82538285
                    name: Warehouse Distribution Center
                    addressLine1: 123 Warehouse Dr
                    addressLine2: ''
                    addressCity: San Diego
                    addressState: CA
                    addressProvince: null
                    addressZip: '92120'
                    addressCountry: United States
                    yearBuilt: 1969
                    buildingClass: null
                    primaryPropertyType: Distribution Center
                    floorAreaSqFt: 1111
                    customId: null
                    boughtDate: '2026-03-20'
                    soldDate: null
                    isSingleTenant: true
                    percentOwned: 100.0
                    isActive: true
                    updatedAt: '2026-02-02 00:00:00'
                  links:
                    self: /portfolios/8472cd20-dfca-498e-8d1e-95efc92f56c9/buildings/0f560852-e88d-4ecf-87c2-cf8c9e13c8d5
                links:
                  self: /portfolios/8472cd20-dfca-498e-8d1e-95efc92f56c9/buildings
                meta:
                  page:
                    number: 1
                    size: 100
                    totalPages: 7
                    totalElements: 654
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: 'Unknown portfolio UUID: a38f4ec4-c303-4deb-ac02-dcdd586cbdf2'
              schema:
                $ref: '#/components/schemas/json_api'
        '401':
          description: Unauthorized Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '401'
                  title: Unauthorized
                  detail: Unauthorized Request
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: An invalid UUID parameter was submitted with the request (portfolio_id)
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '500':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: An error occurred with the request
              schema:
                $ref: '#/components/schemas/json_api'
        '503':
          description: Service Unavailable
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '503'
                  title: Service Unavailable
                  detail: A Measurabl Server is currently unavailable, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '408'
                  title: Request Timeout
                  detail: The request you made has timed out
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too many requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
    servers:
    - url: https://api.measurabl.com/core/v0
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /core/v0/portfolios/{portfolio_id}/buildings/{building_id}:
    delete:
      summary: Removes a building from a specified portfolio
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        description: 'Example: <em>a6e32f0e-5f5f-4497-b024-11f9d6f200ca</em>'
        required: true
        schema:
          type: string
      - name: building_id
        in: path
        description: 'Example: <em>01327933-9400-4c64-81be-2e5af129d495</em>'
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Building Deleted Successfully
          content:
            application/vnd.api+json:
              example: ''
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: Could not find building 07603756-06de-445c-ac8d-45d65a70f91a in portfolio cfb2bfe0-ce8d-44ab-8897-21c573c220a8
              schema:
                $ref: '#/components/schemas/json_api'
        '401':
          description: Unauthorized Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '401'
                  title: Unauthorized
                  detail: Unauthorized Request
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: An invalid UUID parameter was submitted with the request (portfolio_id)
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '500':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: An error occurred with the request
              schema:
                $ref: '#/components/schemas/json_api'
        '503':
          description: Service Unavailable
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '503'
                  title: Service Unavailable
                  detail: A Measurabl Server is currently unavailable, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '408'
                  title: Request Timeout
                  detail: The request you made has timed out
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too many requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
    get:
      summary: Returns details of a specific building for a specified portfolio or fund
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        description: "UUID of either the parent portfolio or fund<br>\n                              Example: <em>e2302549-cd8b-4098-91f5-a70ead86df4d</em>"
        required: true
        schema:
          type: string
      - name: building_id
        in: path
        description: "UUID of the building<br>\n                              Example: <em>c3c076ae-8360-4d85-876a-ba85fd6a4bab</em>"
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns Portfolio or Fund specific building
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 97b68ae1-ebf2-473f-915a-46767d22dbd7
                  type: buildings
                  attributes:
                    estarId: null
                    name: Test Building
                    addressLine1: 900 Spear Avenue
                    addressLine2: Suite 100
                    addressCity: San Francisco
                    addressState: CA
                    addressProvince: null
                    addressZip: '94106'
                    addressCountry: United States
                    yearBuilt: null
                    buildingClass: C
                    primaryPropertyType: Data Center
                    floorAreaSqFt: 20000
                    customId: null
                    boughtDate: '2026-04-27'
                    soldDate: null
                    isSingleTenant: true
                    percentOwned: 100.0
                    isActive: false
                    updatedAt: '2026-05-24 00:00:00'
                links:
                  self: /portfolios/11da1a92-6794-4258-85ec-4db64a192151/buildings/97b68ae1-ebf2-473f-915a-46767d22dbd7
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: Could not find building cedac608-4426-4b84-ad7f-198b9dc0ad61 in portfolio b9efda9d-96a9-4695-8682-dcb63505173e
              schema:
                $ref: '#/components/schemas/json_api'
        '401':
          description: Unauthorized Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '401'
                  title: Unauthorized
                  detail: Unauthorized Request
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: An invalid UUID parameter was submitted with the request (portfolio_id)
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '500':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: An error occurred with the request
              schema:
                $ref: '#/components/schemas/json_api'
        '503':
          description: Service Unavailable
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '503'
                  title: Service Unavailable
                  detail: A Measurabl Server is currently unavailable, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '408'
                  title: Request Timeout
                  detail: The request you made has timed out
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too many requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
    patch:
      summary: Updates a building's attributes in a specified portfolio
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        description: 'Example: <em>7a1eec7b-1372-40ac-92eb-aeacd4687260</em>'
        required: true
        schema:
          type: string
      - name: building_id
        in: path
        description: 'Example: <em>eaf5b11d-5b5c-41c9-a0d8-ad5eb69f1e31</em>'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated specific building
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 12b71fb7-cd54-467f-9e5f-844067c2214a
                  type: buildings
                  attributes:
                    estarId: null
                    name: Test Building - Updated
                    addressLine1: 900 Spear Avenue
                    addressLine2: Suite 100
                    addressCity: San Francisco
                    addressState: CA
                    addressProvince: null
                    addressZip: '94106'
                    addressCountry: United States
                    yearBuilt: null
                    buildingClass: C
                    primaryPropertyType: Data Center
                    floorAreaSqFt: null
                    customId: null
                    boughtDate: '2025-12-08'
                    soldDate: null
                    isSingleTenant: false
                    percentOwned: 25.5
                    isActive: false
                    updatedAt: '2026-04-05 00:00:00'
                links:
                  self: /portfolios/8aa7765d-fa4a-44a3-bb87-c3d7dc82e874/buildings/12b71fb7-cd54-467f-9e5f-844067c2214a
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: Could not find building 57b6e33b-800c-4d52-9865-5b5d18467e20 in portfolio 14e67f51-1d56-4b60-9bce-e95361a7bde6
              schema:
                $ref: '#/components/schemas/json_api'
        '401':
          description: Unauthorized Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '401'
                  title: Unauthorized
                  detail: Unauthorized Request
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: An invalid UUID parameter was submitted with the request (portfolio_id)
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '500':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: An error occurred with the request
              schema:
                $ref: '#/components/schemas/json_api'
        '503':
          description: Service Unavailable
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '503'
                  title: Service Unavailable
                  detail: A Measurabl Server is currently unavailable, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '408'
                  title: Request Timeout
                  detail: The request you made has timed out
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too many requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                        addressLine1:
                          type: string
                        addressLine2:
                          type: string
                        addressCity:
                          type: string
                        addressState:
                          type: string
                        addressProvince:
                          type: string
                        addressZip:
                          type: string
                        addressCountry:
                          type: string
                        yearBuilt:
                          type: integer
                        buildingClass:
                          type: string
                        customId:
                          type: string
                        boughtDate:
                          type: string
                        soldDate:
                          type: string
                        isSingleTenant:
                          type: boolean
                        percentOwned:
                          type: float
                        isActive:
                          type: boolean
                  required:
                  - id
                  - type
              example:
                data:
                  id: 2f0aed9f-0bb1-45b8-88fe-eba74dd87dee
                  type: buildings
                  attributes:
                    name: Test Building - Updated
                    addressLine1: 900 Spear Avenue
                    addressLine2: ''
                    addressCity: San Francisco
                    addressState: CA
                    addressProvince: null
                    addressZip: '94105'
                    addressCountry: United States
                    yearBuilt: 1980
                    buildingClass: C
                    customId: null
                    boughtDate: '2026-03-11'
                    soldDate: null
                    isSingleTenant: false
                    percentOwned: 25.5
                    isActive: false
        required: true
        description: Request body used to update a specific building
    servers:
    - url: https://api.measurabl.com/core/v0
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /insights/v0/buildings:
    post:
      summary: Creates a building
      description: 'Create a new building record. The response will include the created building record, including its ID.


        The request body can include building information in one of two formats:

        - Coordinates and additional building information (latitude, longitude, primaryPropertyType, yearBuilt, grossFloorArea, grossFloorAreaUnits, buildingCustomId, buildingClientMetadata)

        - Full address and additional building information (addressLine1, addressLine2, city, stateOrProvince, postalCode, country, primaryPropertyType, yearBuilt, grossFloorArea, grossFloorAreaUnits, buildingCustomId, buildingClientMetadata)


        The preferred method is to use coordinates if available. If coordinates are not available, use the full address data.


        Optional fields:

        - **buildingCustomId** is available for storing a custom identifier for the building; this allows storing identifiers from your system as part of the building record.

        - **buildingClientMetadata** is available for storing arbitrary JSON metadata; this allows storing identifiers from your system and other metadata as part of the building record.

        '
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters: []
      responses:
        '201':
          description: building created with coordinates
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 7ab65f61-0925-4882-91ab-abeb418f683a
                  type: buildings
                  attributes:
                    primaryPropertyType: Food Sales & Service
                    yearBuilt: 1890
                    grossFloorAreaUnits: sq ft
                    createdAt: '2026-07-16T13:20:41.167Z'
                    updatedAt: '2026-07-16T13:20:41.167Z'
                    grossFloorAreaInSquareFeet: 3000
                    grossFloorAreaInSquareMeters: 279
                    buildingCustomId: '1234'
                    buildingClientMetadata:
                      project: Midwest Analysis
                    addressLine1: 29 East High St.
                    addressLine2: null
                    city: Lawrenceburg
                    stateOrProvince: IN
                    postalCode: '47025'
                    country: United States
                    formattedAddress: 1227 Coy Cove, New Sheldon, MN 61252, US
                    latitude: '49.8477807797'
                    longitude: '-138.4454553923'
              schema:
                $ref: '#/components/schemas/json_api'
              examples:
                With Full Address Data:
                  value:
                    data:
                      id: 305ea111-4199-42fc-a687-a3bd36f9ca57
                      type: buildings
                      attributes:
                        primaryPropertyType: Fitness Center/Health Club/Gym
                        yearBuilt: 2019
                        grossFloorAreaUnits: sq ft
                        createdAt: '2026-07-16T13:20:41.296Z'
                        updatedAt: '2026-07-16T13:20:41.296Z'
                        grossFloorAreaInSquareFeet: 12950
                        grossFloorAreaInSquareMeters: 1203
                        buildingCustomId: building-123456
                        buildingClientMetadata:
                          project: Midwest Analysis
                        addressLine1: 4460 Orkney Ave.
                        addressLine2: null
                        city: Cincinnati
                        stateOrProvince: OH
                        postalCode: '45209'
                        country: United States
                        formattedAddress: Apt. 601 790 Grady Roads, New Porter, AR 89627, US
                        latitude: '46.6895081745'
                        longitude: '-115.8225318748'
                With Coordinates:
                  value:
                    data:
                      id: a9223351-18f4-49a1-9462-ae09bfd9905d
                      type: buildings
                      attributes:
                        primaryPropertyType: Office
                        yearBuilt: 2006
                        grossFloorAreaUnits: sq ft
                        createdAt: '2026-07-16T13:20:41.443Z'
                        updatedAt: '2026-07-16T13:20:41.443Z'
                        grossFloorAreaInSquareFeet: 703796
                        grossFloorAreaInSquareMeters: 65385
                        buildingCustomId: building-123456
                        buildingClientMetadata:
                          project: Midwest Analysis
                        addressLine1: null
                        addressLine2: null
                        city: null
                        stateOrProvince: null
                        postalCode: null
                        country: null
                        formattedAddress: Apt. 376 8715 Allison Views, Langworthfurt, ME 15140-9618, US
                        latitude: '-64.093401085'
                        longitude: '-134.5224904958'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/request_body_coordinates_with_client_metadata'
              - $ref: '#/components/schemas/request_body_building_info_with_client_metadata'
            examples:
              With Full Address Data:
                summary: With Full Address Data
                value:
                  addressLine1: 4460 Orkney Ave.
                  addressLine2: null
                  city: Cincinnati
                  stateOrProvince: OH
                  postalCode: '45209'
                  country: United States
                  primaryPropertyType: Fitness Center/Health Club/Gym
                  yearBuilt: 2019
                  grossFloorArea: 12950
                  grossFloorAreaUnits: sq ft
                  buildingCustomId: building-123456
                  buildingClientMetadata:
                    project: Midwest Analysis
              With Coordinates:
                summary: With Coordinates
                value:
                  latitude: 40.766276
                  longitude: -73.9834504
                  primaryPropertyType: Office
                  yearBuilt: 2006
                  grossFloorArea: 703796
                  grossFloorAreaUnits: sq ft
                  buildingCustomId: building-123456
                  buildingClientMetadata:
                    project: Midwest Analysis
    get:
      summary: Returns all buildings for an app
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: buildingCustomId
        in: query
        required: false
        schema:
          type: string
      - name: msrBuildingId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: list of buildings
          content:
            application/vnd.api+json:
              example:
                data:
                - id: a95c8339-76c9-4740-940d-822b3c407579
                  type: buildings
                  attributes:
                    primaryPropertyType: Residential
                    yearBuilt: 2002
                    grossFloorAreaUnits: square meters
                    createdAt: '2026-07-16T13:20:42.220Z'
                    updatedAt: '2026-07-16T13:20:42.220Z'
                    grossFloorAreaInSquareFeet: 45316
                    grossFloorAreaInSquareMeters: 4210
                    buildingCustomId: bdec10af-6411-4a38-953c-b739b5175980
                    buildingClientMetadata: null
                    addressLine1: 9319 Penelope Lake
                    addressLine2: null
                    city: Schuppeview
                    stateOrProvince: LA
                    postalCode: 98907-1215
                    country: United States
                    formattedAddress: 9319 Penelope Lake, Schuppeview, LA, 98907-1215, United States
                    latitude: '4.7200512514'
                    longitude: '89.925012978'
                - id: 2ecdb44e-bc7e-45f0-b2cd-b3d39ea5adb6
                  type: buildings
                  attributes:
                    primaryPropertyType: Laboratory
                    yearBuilt: 1975
                    grossFloorAreaUnits: sq. ft.
                    createdAt: '2026-07-16T13:20:42.248Z'
                    updatedAt: '2026-07-16T13:20:42.248Z'
                    grossFloorAreaInSquareFeet: 14983
                    grossFloorAreaInSquareMeters: 1392
                    buildingCustomId: 1656fa92-1830-4ffe-891f-11240eea3e03
                    buildingClientMetadata: null
                    addressLine1: 973 Pennie Mews
                    addressLine2: Suite 258
                    city: Lake Casseymouth
                    stateOrProvince: KS
                    postalCode: 93479-1306
                    country: United States
                    formattedAddress: 973 Pennie Mews, Suite 258, Lake Casseymouth, KS, 93479-1306, United States
                    latitude: '-7.6642772154'
                    longitude: '-122.8447214664'
                meta:
                  totalCount: 2
                  itemCount: 5
                  pageCount: 1
                  currentPage: 1
                  prevPage: null
                  nextPage: null
                  lastPage: 1
                  fromRecord: 1
                  toRecord: 2
                links:
                  self: /insights/v0/buildings?page=1&pageSize=5
                  prev: null
                  next: null
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: when requesting an overflow page
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: 'The page requested was not found

                    The last page available is 1

                    '
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
    servers:
    - url: https://api.measurabl.com/insights/v0
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /insights/v0/buildings/export:
    post:
      summary: Requests a CSV download for the current app
      tags:
      - Buildings
      security:
      - OAuth2: []
      responses:
        '200':
          description: Export successfully created
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 5f184ff6-7e2f-4354-a467-e69d1452bef0
                  type: exports
                  attributes:
                    status: PROCESSING
                    error: null
                    createdAt: '2026-07-16T13:20:41.985Z'
                    updatedAt: '2026-07-16T13:20:41.985Z'
                    permalink: http://localhost:3000/insights/v0/exports/5f184ff6-7e2f-4354-a467-e69d1452bef0/download
                  relationships: {}
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
    servers:
    - url: https://api.measurabl.com/insights/v0
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /partners/v0/portfolios/{portfolio_id}/buildings:
    get:
      summary: Returns buildings for a portfolio
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: portfolio with buildings found
          content:
            application/vnd.api+json:
              example:
                data:
                - id: 79bc3ff6e578ecbcfc25a72006b77a78
                  type: buildings
                  attributes:
                    name: Test Building
                    customId: A_Custom_Building_ID
                    addressLine1: 123 Elm St
                    addressLine2: A
                    addressCity: San Diego
                    addressState: CA
                    addressZip: '92101'
                    addressCountry: United States
                    addressProvince: ''
                    grossFloorArea:
                      units: Sq. Ft.
                      value: 248498.0
                    primaryType: Hotel
                    isActive: true
                    createdAt: '2018-10-12T21:49:44.000Z'
                    updatedAt: '2019-06-18T22:22:21.000Z'
                - id: ffd569a02bf0b1e8c5b6ca4d1c8aaf41
                  type: buildings
                  attributes:
                    name: testasdf
                    customId: Custom-ID-e05c874c-39b5-4ca0-b7e5-a9ef24a5f5b1
                    addressLine1: test
                    addressLine2: ''
                    addressCity: test
                    addressState: ''
                    addressZip: '9999'
                    addressCountry: Belgium
                    addressProvince: somewhere
                    grossFloorArea:
                      units: Sq. Ft.
                      value: 248498.0
                    primaryType: Hotel
                    isActive: false
                    createdAt: '2018-10-12T21:49:46.000Z'
                    updatedAt: '2019-06-18T22:22:21.000Z'
                - id: 7ec656ba99dce1a64d3069f4981d5476
                  type: buildings
                  attributes:
                    name: mock-building-27192
                    customId: null
                    addressLine1: 5150 sci-test
                    addressLine2: ''
                    addressCity: Telluride
                    addressState: CO
                    addressZip: '81435'
                    addressCountry: United States
                    addressProvince: null
                    grossFloorArea:
                      units: Sq. Ft.
                      value: 496996.0
                    primaryType: Laboratory
                    isActive: true
                    createdAt: '2019-03-21T18:21:34.000Z'
                    updatedAt: '2019-05-22T20:05:39.000Z'
                meta:
                  totalCount: 3
                  itemCount: 5
                  pageCount: 1
                  currentPage: 1
                  prevPage: null
                  nextPage: null
                  lastPage: 1
                  fromRecord: 1
                  toRecord: 3
                links:
                  self: /partners/v0/portfolios/caa54ae2405bb71d14a4c992b3864337/buildings?page=1&pageSize=5
                  prev: null
                  next: null
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: when requesting an overflow page
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: 'The page requested was not found

                    The last page available is 1

                    '
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
    servers:
    - url: https://api.measurabl.com/partners/v0
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /partners/v0/buildings/{building_id}/monthly_utility_data:
    get:
      summary: monthly utility data for a building
      tags:
      - Buildings
      security:
      - OAuth2: []
      parameters:
      - name: building_id
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        format: date
        schema:
          type: string
      - name: endDate
        in: query
        format: date
        schema:
          type: string
      responses:
        '200':
          description: sandbox environments return canned fixture data
          headers:
            X-startDate-Requested:
              type: string
              description: the startDate sent as a URL parameter
            X-startDate-Applied:
              type: string
              description: the startDate applied based on date range restriction rules
            X-endDate-Requested:
              type: string
              description: the startDate sent as a URL parameter
            X-endDate-Applied:
              type: string
              description: the endDate applied based on date range restriction rules
          content:
            application/vnd.api+json:
              example:
                electricity:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 1959.039
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 2035.921
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 2256.677
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 2389.4350000000004
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 2309.363
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 2353.23
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 1903.2830000000004
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 1984.4865000000002
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 1792.7989999999998
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 1860.903
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 1678.2685000000001
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 1656.5835000000002
                  usageUnit: MWH
                onSiteRenewableElectric:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 114.111
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 115.001
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 115.717
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 105.675
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 84.083
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 61.35
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 43.163000000000004
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 53.6465
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 20.999
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 37.903
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 33.8685
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 50.743500000000004
                  usageUnit: MWH
                offSiteRenewableElectric:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 126
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 129
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 162
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 138
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 138
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 147
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 117
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 123
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 99
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 111
                  usageUnit: MWH
                naturalGas:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 9205
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 2009
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 203
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 0
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 1
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 3383.4117647058824
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 2544.697610294118
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 5435.374999999999
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 7907.662176724137
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 11661.822198275862
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 19615.45866935484
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 16644.010080645163
                  usageUnit: THERMS
                fuelOilNo1:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 706.5573283561122
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 433.9029241174464
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 213.30595359945414
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 835.0327209731879
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 631.3024888528099
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 390.037675680435
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 677.365599652216
                  usageUnit: THERMS
                fuelOilNo2:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 1035.0807393581792
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 489.49073454151363
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 727.755035823951
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 630.2589362227791
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 798.8726400310592
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 581.5027883250239
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 677.6429639779443
                  usageUnit: THERMS
                fuelOilNo4:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 1125.0860376904088
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 298.84957515503646
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 771.495809877175
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 653.4839409875411
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 724.0652849592349
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 461.1879385132235
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 543.8743056014132
                  usageUnit: THERMS
                fuelOilNo5or6:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 1172.3416621510428
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 311.40179144841153
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 803.9000127942683
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 680.9314344874646
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 754.4773210567182
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 480.5586562166386
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 566.717998508711
                  usageUnit: THERMS
                propane:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 856.8267806610874
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 183.28222650370282
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 280.28774309109525
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 440.3533291568137
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 324.53305774185577
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 187.86587067058477
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 154.05634017895468
                  usageUnit: THERMS
                diesel:
                  years: []
                  usageUnit: THERMS
                compressedNaturalGas:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 9205
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 2009
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 203
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 0
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 1
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 3383.4117647058824
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 2544.697610294118
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 5435.374999999999
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 7907.662176724137
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 11661.822198275862
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 19615.45866935484
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 16644.010080645163
                  usageUnit: THERMS
                liquifiedNaturalGas:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 768.4736914516587
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 296.69713635316464
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 278.7670261931359
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 320.46209839835944
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 162.00811766021587
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 121.22770051456183
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 502.1514747733956
                  usageUnit: THERMS
                biodieselB100:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 670.0558071163023
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 390.08715700959317
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 487.9578600177413
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 320.0499103352157
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 756.7045678500454
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 717.9290896030419
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 471.22138228880374
                  usageUnit: THERMS
                biodieselB20:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 1165.425050073093
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 729.888262020561
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 741.2302270855297
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 274.7703801930677
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 783.1268453116661
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 643.6411251154683
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 882.1839418000254
                  usageUnit: THERMS
                renewableDiesel:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 1047.9099090854356
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 859.4079107712686
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 864.1911770726714
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 680.3717866092543
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 893.3538735749831
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 566.7314379106549
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 198.29082411595735
                  usageUnit: THERMS
                coalAnthracite:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 34606.96258867682
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 11042.51273766231
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 8459.321402827532
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 8177.2306635556
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 23042.56089747306
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 6466.3886532457545
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 10189.260860188228
                  usageUnit: THERMS
                coalBituminous:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 29364.378762397893
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 18007.584162542396
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 6595.267595125383
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 14085.531429392551
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 5609.941452686942
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 7190.346285399539
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 13849.709419521989
                  usageUnit: THERMS
                coke:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 30272.52094157786
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 21219.374064542062
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 7142.874123635278
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 13504.969039046784
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 8361.383158326127
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 9187.463540284749
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 17181.760295522145
                  usageUnit: THERMS
                wood:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 30756.974934031747
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 10856.678778459718
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 19162.674534437905
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 10261.43616434605
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 9057.612760061147
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 9911.153669816395
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 17746.67806515034
                  usageUnit: THERMS
                kerosene:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 1003.2645955004315
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 729.1656224286029
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 275.24394404640054
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 827.800725964423
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 777.7369531553312
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 385.7380934201693
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 625.814597640902
                  usageUnit: THERMS
                steam:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 2392950.7777733207
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 597957.1259492042
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 343439.7149799299
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 416280.0716889805
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 301557.40530359
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 296268.39071219356
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 393512.23686777754
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 953443.3775492673
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 3064655.6308806636
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 5122786.712940394
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 5952756.074904511
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 3926299.3849688773
                  usageUnit: KBTU
                chilledWater:
                  years: []
                  usageUnit: KBTU
                hotWater:
                  years: []
                  usageUnit: KBTU
                water:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      utilityUsage: 3100.695075
                    - monthNumber: 7
                      monthName: Jul
                      utilityUsage: 2711.3383875
                    - monthNumber: 8
                      monthName: Aug
                      utilityUsage: 3101.40299625
                    - monthNumber: 9
                      monthName: Sep
                      utilityUsage: 3619.6013512500003
                    - monthNumber: 10
                      monthName: Oct
                      utilityUsage: 3619.6013512500003
                    - monthNumber: 11
                      monthName: Nov
                      utilityUsage: 5227.7435796
                    - monthNumber: 12
                      monthName: Dec
                      utilityUsage: 4793.3064669000005
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      utilityUsage: 3346.00394655
                    - monthNumber: 2
                      monthName: Feb
                      utilityUsage: 3026.7880965
                    - monthNumber: 3
                      monthName: Mar
                      utilityUsage: 3496.2814695
                    - monthNumber: 4
                      monthName: Apr
                      utilityUsage: 3448.7091615
                    - monthNumber: 5
                      monthName: May
                      utilityUsage: 3940.0065090000003
                  usageUnit: CM
                wasteDisposal:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 5
                      monthName: May
                      hazardousWasteUsage: 1.0000000000000007
                      nonHazardousWasteUsage: 0
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 3.0000000000000018
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 2.000000000000001
                    - monthNumber: 8
                      monthName: Aug
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.000000000000001
                    - monthNumber: 9
                      monthName: Sep
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.000000000000001
                    - monthNumber: 10
                      monthName: Oct
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.000000000000001
                    - monthNumber: 11
                      monthName: Nov
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                    - monthNumber: 12
                      monthName: Dec
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                    - monthNumber: 2
                      monthName: Feb
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                    - monthNumber: 3
                      monthName: Mar
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                    - monthNumber: 4
                      monthName: Apr
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                    - monthNumber: 5
                      monthName: May
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 14
                  usageUnit: MT
                wasteRecycle:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 1.000000000000001
                      nonHazardousWasteUsage: 0
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 1.000000000000001
                      nonHazardousWasteUsage: 0
                    - monthNumber: 8
                      monthName: Aug
                      hazardousWasteUsage: 1.000000000000001
                      nonHazardousWasteUsage: 0
                    - monthNumber: 9
                      monthName: Sep
                      hazardousWasteUsage: 1.000000000000001
                      nonHazardousWasteUsage: 0
                    - monthNumber: 10
                      monthName: Oct
                      hazardousWasteUsage: 1.000000000000001
                      nonHazardousWasteUsage: 0
                    - monthNumber: 11
                      monthName: Nov
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.730697698355205
                    - monthNumber: 12
                      monthName: Dec
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.828953510676766
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.828953510676766
                    - monthNumber: 2
                      monthName: Feb
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.828953510676766
                    - monthNumber: 3
                      monthName: Mar
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.828953510676766
                    - monthNumber: 4
                      monthName: Apr
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.828953510676766
                    - monthNumber: 5
                      monthName: May
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.374302287936603
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 4.794651171649211
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.4994187135960535
                  usageUnit: MT
                wasteCompost:
                  years:
                  - year: 2018
                    months:
                    - monthNumber: 11
                      monthName: Nov
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 5.999999999994451
                    - monthNumber: 12
                      monthName: Dec
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 5.999999999994451
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 5.999999999994451
                    - monthNumber: 2
                      monthName: Feb
                      hazardousWasteUsage: 0.9999999999990751
                      nonHazardousWasteUsage: 5.999999999994451
                    - monthNumber: 3
                      monthName: Mar
                      hazardousWasteUsage: 0.9999999999990751
                      nonHazardousWasteUsage: 5.999999999994451
                    - monthNumber: 4
                      monthName: Apr
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 5.999999999994451
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 5.999999999994451
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 5.999999999994451
                  usageUnit: MT
                wasteDonation:
                  years:
                  - year: 2017
                    months:
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                    - monthNumber: 8
                      monthName: Aug
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                    - monthNumber: 9
                      monthName: Sep
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 0.986301369770389
                    - monthNumber: 10
                      monthName: Oct
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                    - monthNumber: 11
                      monthName: Nov
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 0.986301369770389
                    - monthNumber: 12
                      monthName: Dec
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                  - year: 2018
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                    - monthNumber: 2
                      monthName: Feb
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 0.9205479451190298
                    - monthNumber: 3
                      monthName: Mar
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                    - monthNumber: 4
                      monthName: Apr
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 0.986301369770389
                    - monthNumber: 5
                      monthName: May
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.0191780820960687
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 0.986301369770389
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 2.0383561642980492
                    - monthNumber: 8
                      monthName: Aug
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 2.0383561642980492
                    - monthNumber: 9
                      monthName: Sep
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 1.9726027396432735
                    - monthNumber: 10
                      monthName: Oct
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 2.0383561642980492
                    - monthNumber: 11
                      monthName: Nov
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 603.481568939643
                    - monthNumber: 12
                      monthName: Dec
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 604.4091421642977
                  - year: 2019
                    months:
                    - monthNumber: 1
                      monthName: Jan
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 599.8732171642977
                    - monthNumber: 2
                      monthName: Feb
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 595.1400318903335
                    - monthNumber: 3
                      monthName: Mar
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 590.8013671642977
                    - monthNumber: 4
                      monthName: Apr
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 586.199688739643
                    - monthNumber: 5
                      monthName: May
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 2.0383561642980492
                    - monthNumber: 6
                      monthName: Jun
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 581.663763739643
                    - monthNumber: 7
                      monthName: Jul
                      hazardousWasteUsage: 0
                      nonHazardousWasteUsage: 569.7756348799998
                  usageUnit: MT
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: passing endDate param without startDate param
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: Cannot pass 'endDate' without also passing 'startDate' in query params.
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: when the upstream wizard request fails
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
        '429':
          description: Too Many Requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
    servers:
    - url: https://api.measurabl.com/partners/v0
      description: Base URL declared by the provider in apis.yml (roadmap#122).
components:
  schemas:
    success:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/data'
        included:
          description: To reduce the number of HTTP requests, servers **MAY** allow responses that include related resources along with the requested primary resources. Such responses are called 'compound documents'.
          type: array
          items:
            $ref: '#/components/schemas/resource'
          uniqueItems: true
        meta:
          $ref: '#/components/schemas/meta'
        links:
          description: Link members related to the primary data.
          allOf:
          - $ref: '#/components/schemas/links'
          - $ref: '#/components/schemas/pagination'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
      additionalProperties: false
    relationshipToOne:
      description: References to other resource objects in a to-one ('relationship'). Relationships can be specified by including a member in a resource's links object.
      anyOf:
      - $ref: '#/components/schemas/empty'
      - $ref: '#/components/schemas/linkage'
    relationshipLinks:
      description: A resource object **MAY** contain references to other resource objects ('relationships'). Relationships may be to-one or to-many. Relationships can be specified by including a member in a resource's links object.
      type: object
[...]
