openapi: 3.2.0
info:
  title: Measurabl Core Space Ratings API
  version: v0
  description: '## Quick Start Guide


    1. Authorize using your client credentials (key and secret).

    2. Make a `GET /core/v0/portfolios` request (under the Portfolios section) to get a list of available portfolios.

    3. Obtain the proper portfolio_id (id) in which you need to get/create data for.

    4. This `portfolio_id` will be required for all other reoccurring requests.


    * [Authentication](https://support.measurabl.com/hc/en-us/articles/15889532915085-How-do-I-authenticate-with-Measurabl-s-Core-API-)

    * [Release Notes](https://api.measurabl.com/release_notes)

    * [Usage/Rate Limits](https://support.measurabl.com/hc/en-us/articles/15889355100429-Core-API-Usage-Rate-Limits)

    * [Pagination & Filtering](https://support.measurabl.com/hc/en-us/articles/15889550313101-Core-API-Pagination-Filtering-Requests)

    * [Code Examples](https://github.com/Measurabl/measurabl_api_code_samples)


    ### Response Format


    Each endpoint response complies with the [JSON-API Specification](https://jsonapi.org/) which has many available [client libraries](https://jsonapi.org/implementations/#client-libraries).

    '
servers:
- url: https://api.measurabl.com/core/v0
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Space Ratings
paths:
  /core/v0/portfolios/{portfolio_id}/buildings/{building_id}/spaces/{space_id}/ratings:
    get:
      summary: Returns a list of ratings for a specific space in a specified building
      tags:
      - Space Ratings
      security:
      - OAuth2: []
      parameters:
      - name: portfolio_id
        in: path
        description: "UUID of either the parent portfolio or fund<br>\n                              Example: <em>0c1f567b-ba23-44b7-ada3-713c966f6f0e</em>"
        required: true
        schema:
          type: string
      - name: building_id
        in: path
        description: 'Example: 51a8e325-4ce9-481b-a6ee-830ab1787c5e'
        required: true
        schema:
          type: string
      - name: space_id
        in: path
        description: 'Example: baa9ca58-6c28-42d4-bc7b-88f19324c3ff'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: "Filter by any attribute available via the endpoint.<br>\n                              <ul>\n                                <li>ratingDate=ge=2022-05-08 will query for ratings dated at or after the set date.</li>\n                                <li>ratingType==OTHER will query for only those ratings that are type 'OTHER'.</li>\n                              </ul>"
        schema:
          type: string
      - name: page
        in: query
        default: 1
        schema:
          type: integer
      - name: size
        in: query
        description: The max page size is limited to 200 returned results
        default: 25
        schema:
          type: integer
      responses:
        '200':
          description: Portfolio or Fund / Building / Space list of ratings
          content:
            application/vnd.api+json:
              example:
                data:
                - id: 6218e3be-ca69-47c9-a0c4-80f0dbc5a97f
                  type: ratings
                  attributes:
                    ratingType: BBC Effinergie
                    ratingName: A Rating
                    score: 8
                    ratingDate: '2026-02-01'
                    expirationDate: '2026-09-04'
                    notes: Some notes
                    importedAt: '2026-05-31 23:39:56'
                    importState: CONFIRMED
                    updatedAt: '2025-12-17 07:42:37'
                    isWholeBuilding: true
                  relationships:
                    space:
                      data:
                        id: 6745df8b-8f05-4afa-8526-85d0e5b899a1
                        type: spaces
                      links:
                        self: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/spaces/6745df8b-8f05-4afa-8526-85d0e5b899a1
                  links:
                    self: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/ratings/6218e3be-ca69-47c9-a0c4-80f0dbc5a97f
                - id: 727fefb7-96b5-4fa4-8a3e-2441111ddd56
                  type: ratings
                  attributes:
                    ratingType: OTHER
                    ratingName: null
                    score: 80
                    ratingDate: '2026-06-09'
                    expirationDate: '2026-09-17'
                    notes: null
                    importedAt: null
                    importState: null
                    updatedAt: '2025-08-27 16:25:00'
                    isWholeBuilding: false
                  relationships:
                    space:
                      data:
                        id: 6745df8b-8f05-4afa-8526-85d0e5b899a1
                        type: spaces
                      links:
                        self: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/spaces/6745df8b-8f05-4afa-8526-85d0e5b899a1
                  links:
                    self: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/ratings/727fefb7-96b5-4fa4-8a3e-2441111ddd56
                links:
                  self: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/spaces/6745df8b-8f05-4afa-8526-85d0e5b899a1/ratings/?size=2&page=1
                  first: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/spaces/6745df8b-8f05-4afa-8526-85d0e5b899a1/ratings/?size=2&page=1
                  last: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/spaces/6745df8b-8f05-4afa-8526-85d0e5b899a1/ratings/?size=2&page=2
                  next: /portfolios/ee66edfe-4001-42f7-be01-f4c62fbb34fb/buildings/0c4b13df-bcaf-4e58-96a7-7d09aa0a0e70/spaces/6745df8b-8f05-4afa-8526-85d0e5b899a1/ratings/?size=2&page=2
                meta:
                  page:
                    number: 1
                    size: 2
                    totalPages: 2
                    totalElements: 4
              schema:
                $ref: '#/components/schemas/json_api'
        '404':
          description: Not Found
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '404'
                  title: Not Found
                  detail: Could not find space 8b1c6077-4e25-43a4-9454-aff398b146ec in building 635ad912-6ff1-43bd-93f4-d126a5259706
              schema:
                $ref: '#/components/schemas/json_api'
        '401':
          description: Unauthorized Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '401'
                  title: Unauthorized
                  detail: Unauthorized Request
              schema:
                $ref: '#/components/schemas/json_api'
        '400':
          description: Bad Request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '400'
                  title: Bad Request
                  detail: An invalid UUID parameter was submitted with the request (portfolio_id)
              schema:
                $ref: '#/components/schemas/json_api'
        '502':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '502'
                  title: Bad Gateway
                  detail: A Measurabl Server is down, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '500':
          description: Internal Error
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '500'
                  title: Internal Server Error
                  detail: An error occurred with the request
              schema:
                $ref: '#/components/schemas/json_api'
        '503':
          description: Service Unavailable
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '503'
                  title: Service Unavailable
                  detail: A Measurabl Server is currently unavailable, please try again later
              schema:
                $ref: '#/components/schemas/json_api'
        '408':
          description: Request Timeout
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '408'
                  title: Request Timeout
                  detail: The request you made has timed out
              schema:
                $ref: '#/components/schemas/json_api'
        '429':
          description: Too many requests
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '429'
                  title: Too Many Requests
                  detail: Rate Limit Exceeded
              schema:
                $ref: '#/components/schemas/json_api'
        '403':
          description: unauthorized request
          content:
            application/vnd.api+json:
              example:
                errors:
                - status: '403'
                  title: Forbidden
                  detail: 'A valid auth token is required.

                    POST to ''/token'' with a valid ''key'' and ''secret'' to get an auth token.

                    '
              schema:
                $ref: '#/components/schemas/json_api'
components:
  schemas:
    success:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/data'
        included:
          description: To reduce the number of HTTP requests, servers **MAY** allow responses that include related resources along with the requested primary resources. Such responses are called 'compound documents'.
          type: array
          items:
            $ref: '#/components/schemas/resource'
          uniqueItems: true
        meta:
          $ref: '#/components/schemas/meta'
        links:
          description: Link members related to the primary data.
          allOf:
          - $ref: '#/components/schemas/links'
          - $ref: '#/components/schemas/pagination'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
      additionalProperties: false
    relationshipToOne:
      description: References to other resource objects in a to-one ('relationship'). Relationships can be specified by including a member in a resource's links object.
      anyOf:
      - $ref: '#/components/schemas/empty'
      - $ref: '#/components/schemas/linkage'
    relationshipLinks:
      description: A resource object **MAY** contain references to other resource objects ('relationships'). Relationships may be to-one or to-many. Relationships can be specified by including a member in a resource's links object.
      type: object
      properties:
        self:
          $ref: '#/components/schemas/link'
        related:
          $ref: '#/components/schemas/link'
      additionalProperties: true
    relationshipToMany:
      description: An array of objects each containing 'type' and 'id' members for to-many relationships.
      type: array
      items:
        $ref: '#/components/schemas/linkage'
      uniqueItems: true
    data:
      description: The document's 'primary data' is a representation of the resource or collection of resources targeted by a request.
      anyOf:
      - $ref: '#/components/schemas/resource'
      - description: An array of resource objects, an array of resource identifier objects, or an empty array ([]), for requests that target resource collections.
        type: array
        items:
          $ref: '#/components/schemas/resource'
        uniqueItems: true
      - description: null if the request is one that might correspond to a single resource, but doesn't currently.
    pagination:
      type: object
      properties:
        first:
          description: The first page of data
          type: string
          format: uri-reference
          x-nullable: true
        last:
          description: The last page of data
          type: string
          format: uri-reference
          x-nullable: true
        prev:
          description: The previous page of data
          type: string
          format: uri-reference
          x-nullable: true
        next:
          description: The next page of data
          type: string
          format: uri-reference
          x-nullable: true
    meta:
      description: Non-standard meta-information that can not be represented as an attribute or relationship.
      type: object
      additionalProperties: true
    failure:
      type: object
      required:
      - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          uniqueItems: true
        meta:
          $ref: '#/components/schemas/meta'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
        links:
          $ref: '#/components/schemas/links'
      additionalProperties: false
    json_api:
      oneOf:
      - $ref: '#/components/schemas/success'
      - $ref: '#/components/schemas/failure'
      - $ref: '#/components/schemas/info'
    link:
      description: 'A link **MUST** be represented as either: a string containing the link''s URL or a link object.'
      oneOf:
      - description: A string containing the link's URL.
        type:
        - string
        - 'null'
        format: uri-reference
      - type: object
        required:
        - href
        properties:
          href:
            description: A string containing the link's URL.
            type: string
            format: uri-reference
          meta:
            $ref: '#/components/schemas/meta'
    links:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/link'
    empty:
      description: Describes an empty to-one relationship.
    linkage:
      description: The 'type' and 'id' to non-empty members.
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
        id:
          type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    error:
      type: object
      properties:
        id:
          description: A unique identifier for this particular occurrence of the problem.
          type: string
        links:
          $ref: '#/components/schemas/links'
        status:
          description: The HTTP status code applicable to this problem, expressed as a string value.
          type: string
        code:
          description: An application-specific error code, expressed as a string value.
          type: string
        title:
          description: A short, human-readable summary of the problem. It **SHOULD NOT** change from occurrence to occurrence of the problem, except for purposes of localization.
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
        source:
          type: object
          properties:
            pointer:
              description: A JSON Pointer [RFC6901] to the associated entity in the request document [e.g. '/data' for a primary data object, or '/data/attributes/title' for a specific attribute].
              type: string
            parameter:
              description: A string indicating which query parameter caused the error.
              type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    jsonapi:
      description: An object describing the server's implementation
      type: object
      properties:
        version:
          type: string
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
    attributes:
      description: Members of the attributes object ('attributes') represent information about the resource object in which it's defined.
      type: object
      additionalProperties: true
    info:
      type: object
      required:
      - meta
      properties:
        meta:
          $ref: '#/components/schemas/meta'
        links:
          $ref: '#/components/schemas/links'
        jsonapi:
          $ref: '#/components/schemas/jsonapi'
      additionalProperties: false
    relationships:
      description: Members of the relationships object ('relationships') represent references from the resource object in which it's defined to other resource objects.
      type: object
      properties:
        links:
          $ref: '#/components/schemas/relationshipLinks'
        data:
          description: Member, whose value represents 'resource linkage'.
          oneOf:
          - $ref: '#/components/schemas/relationshipToOne'
          - $ref: '#/components/schemas/relationshipToMany'
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: true
    resource:
      description: '''Resource objects'' appear in a JSON:API document to represent resources.'
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/attributes'
        relationships:
          $ref: '#/components/schemas/relationships'
        links:
          $ref: '#/components/schemas/links'
        meta:
          $ref: '#/components/schemas/meta'
      additionalProperties: false
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.measurabl.com/token
          scopes: {}
